{{/* Override of themes/terminal/layouts/partials/mobile-menu.html.
     Same active-section logic as menu.html (meta-writeup pin + longest
     URL prefix). */}}

{{ $current := .RelPermalink }}
{{ $isMetaWriteup := false }}
{{ with .Params.tags }}
  {{ if in . "meta-writeup" }}{{ $isMetaWriteup = true }}{{ end }}
{{ end }}

{{ $bestURL := "" }}
{{ $bestLen := 0 }}
{{ if $isMetaWriteup }}
  {{ $bestURL = "/tags/meta-writeup" }}
{{ else }}
  {{ range $.Site.Menus.main }}
    {{ $u := .URL }}
    {{ if not (hasSuffix $u "/") }}{{ $u = printf "%s/" $u }}{{ end }}
    {{ if hasPrefix $current $u }}
      {{ if gt (len $u) $bestLen }}
        {{ $bestURL = .URL }}
        {{ $bestLen = len $u }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<ul class="menu menu--mobile">
  <li class="menu__trigger">Menu&nbsp;▾</li>
  <li>
    <ul class="menu__dropdown">
      {{ range $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li{{ if eq .URL $bestURL }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
      {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
        <hr />
        {{ range $.Site.Home.AllTranslations }}
          <li>
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </li>
</ul>
