{{ define "main" }}
{{ $isFR := eq .Site.Language.Lang "fr" }}
<article class="post">
  <h1>404</h1>
  <pre>
&#9484;&#9472; {{ if $isFR }}TRANSCRIPTION D'AGENT // STATUT&nbsp;: TUÉ{{ else }}AGENT TRANSCRIPT // STATUS: KILLED{{ end }} &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9488;
&#9474;  {{ if $isFR }}L'agent a-X a épuisé son stream-watchdog à 600s.{{ else }}Agent a-X exhausted stream-watchdog at 600s.        {{ end }}&#9474;
&#9474;  {{ if $isFR }}La page était ici. Maintenant elle ne l'est plus. {{ else }}The page was here. Now it isn't.                    {{ end }}&#9474;
&#9474;                                                     &#9474;
&#9474;  &#9656; {{ if $isFR }}essayez{{ else }}try{{ end }} <a href="{{ if $isFR }}/fr/posts/{{ else }}/posts/{{ end }}">{{ if $isFR }}/fr/posts/{{ else }}/posts/{{ end }}</a>                              &#9474;
&#9474;  &#9656; {{ if $isFR }}essayez{{ else }}try{{ end }} <a href="/tags/meta-writeup/">/tags/meta-writeup/</a>                       &#9474;
&#9474;  &#9656; {{ if $isFR }}blâmez l'essaim{{ else }}blame the swarm{{ end }}                                  &#9474;
&#9492;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9496;
  </pre>
  <p>
    <a href="{{ if $isFR }}/fr/{{ else }}/{{ end }}">&#9656; {{ if $isFR }}retour à{{ else }}back to{{ end }} /</a>
  </p>
</article>
{{ end }}
